@model SocialNetwork.Models.User

@{
    ViewBag.Title = "Profile";
}

<body id="personal">

    <header class="text-right">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "text left search" }))
        {
            @Html.TextBox("search")
            <input type="submit" name="submit" value="Search" />
        }

        <div class="menu-icon">
            <div class="dropdown">
                <span class="dropdown-toggle" role="button" id="dropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a href="javascript:document.getElementById('logoutForm').submit()" title="LogOut"> <i class="fa fa-sign-out" aria-hidden="true"> </i> @*s*@ </a>
                        }
                    }

                </span>

            </div>
        </div>
        <div class="second-icon dropdown menu-icon">
            <span>
                <a href="@Url.Action("Chat","Home")" title="Chat">  <i class="fa fa-weixin" aria-hidden="true"></i></a>
            </span>

        </div>
        <div class="second-icon menu-icon">
            <span>
                <a href="@Url.Action("LastPosts", "Profile", new {id = Convert.ToInt32(Session["id"]) })" title="Profile">  <i class="fa fa-user" aria-hidden="true"></i></a>
            </span>
        </div>
        <div class="second-icon menu-icon">
            <span>
                <a href="@Url.Action("Index", "Home")" title="Wall">  <i class="fa fa-database" aria-hidden="true"></i></a>
            </span>
        </div>
    </header>



    <div class="sidebar-nav">
        @{Session["iduser"] = Model.UserID;}
        @{
            var pic = ViewBag.Pic;
        }
        <a href="@Url.Action("LastPosts", "Profile", new { id = Convert.ToInt32(Session["iduser"]) })" title="Profile">
            <img src="@Url.Content(pic.ProfileImage)" alt="User name" class="img-circle img-user">
        </a>
        <h2 class="text-center hidden-xs"><a href="@Url.Action("LastPosts", "Profile", new { id = Convert.ToInt32(Session["iduser"]) })" title="Profile">@Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)</a></h2>
        <p class="text-center user-description hidden-xs">
            <i>
                UserID no. @Html.DisplayFor(model => model.UserID).
                <br />
            </i>
        </p>
    </div>


    <div class="content-posts profile-content">
        <div class="banner-profile">

        </div>


        @{

            @*@ViewBag.Status*@
            if (Convert.ToInt32(Session["id"]) != Convert.ToInt32(Session["iduser"]))
            {
                if (ViewBag.Status == 0)
                {
                    <ul class="nav nav-tabs" role="tablist">
                        Sesiuni : @Session["id"],  @Session["iduser"]
                        @Html.Action("_AddFriend", "Friend")
                    </ul>
                }
                else if (ViewBag.Status == 1)
                {
                    <ul class="nav nav-tabs" role="tablist">
                        Sesiuni : @Session["id"],  @Session["iduser"]
                        @Html.Action("_CheckFriend", "Friend")
                    </ul>
                }
                else if (ViewBag.Status == 2)
                {
                    <ul class="nav nav-tabs" role="tablist">


                        <li class="active">@Html.ActionLink("Last Posts", "LastPosts", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Info", "Bio", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Pictures", "Gallery", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Uploads", "Uploads", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Friends", "Friends", "Profile", null, new { id = Session["iduser"] })</li>

                    </ul>

                    <div class="tab-content">
                        <!-- Tab Posts -->
                        <div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
                            <div id="posts-container" class="container-fluid container-posts">

                                @Html.Action("_LastPosts", "Post")

                            </div>
                        </div>
                    </div>
                }

            }
            else
            {


                    <ul class="nav nav-tabs" role="tablist">


                        <li class="active">@Html.ActionLink("Last Posts", "LastPosts", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Info", "Bio", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Pictures", "Gallery", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Uploads", "Uploads", "Profile", null, new { id = Session["iduser"] })</li>
                        <li>@Html.ActionLink("Friends", "Friends", "Profile", null, new { id = Session["iduser"] })</li>

                    </ul>

                <div class="tab-content">
                    <!-- Tab Posts -->
                    <div class="tab-pane fade active in" role="tabpanel" id="posts" aria-labelledby="postsTab">
                        <div id="posts-container" class="container-fluid container-posts">

                            @Html.Action("_LastPosts", "Post")

                        </div>
                    </div>
                </div>
            }
        }

    </div>

    <div id="settingsmodal" class="modal fade text-center">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

</body>
